<ion-header class="ion-padding">
  <ion-toolbar class= "ion-toolbar-content">

    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
        </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-avatar>
         <ion-img src="/assets/cachorro.jpg"></ion-img>
      </ion-avatar>
    </ion-buttons>

    <ion-title class="titulo2">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class= "ion-background-body " no-scroll padding >
    
    <ion-card>
      
     <ion-card-header>
       <ion-item>
      <ion-icon name="share-social" slot="start"></ion-icon>
        <ion-card-title class="titulo">Marketing Digital</ion-card-title>
       
      </ion-item>
       </ion-card-header>

      
      <ion-card-content class="ion-padding contenido">
        <ion-img src="/assets/Marketing.jpg"></ion-img>
        
      </ion-card-content>
   </ion-card>



</ion-content>
