.ion-toolbar-content{
    background-color: #03030365;
    font-style: italic;
    color: black;
    border: 2px solid;
    border-radius: 12px;
    padding: 5px;
  
  }
  
  .ion-background-body{
  
  
    --background: url(/assets/fondo.jpg) 0 0/100% 100% no-repeat;
    }
  
  