<ion-header class="ion-padding">
  <ion-toolbar class= "ion-toolbar-content" >
    <ion-buttons slot="end">
      <ion-avatar>
         <ion-img src="/assets/SUGATA.jpg"></ion-img>
      </ion-avatar>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/"
        text="Back"
        color="primary"
        mode="ios"
      ></ion-back-button>
    </ion-buttons>
     <ion-title class="titulo">Marketing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class= "ion-background-body " no-scroll padding >
  <ion-card> 
      
    <ion-card-header>
      <ion-item>
     <ion-icon name="share-social" slot="start"></ion-icon>
       <ion-card-title class="titulo">Marketing Digital</ion-card-title>
      
     </ion-item>
      </ion-card-header>

     
     <ion-card-content class="ion-padding-contenido">
       Marketing Digital es el conjunto de estrategias volcadas hacia la promoción de una marca en el internet. Se diferencia del marketing tradicional por incluir el uso de canales y
       métodos que permiten el análisis de los resultados en tiempo real.
       Hoy en día, el internet está incorporado a nuestra vida de tal manera que es casi imposible hacer cualquier cosa sin ella. No es casualidad que es cada vez más difícil ver a las personas desconectadas 
       de sus celulares, teniendo internet al alcance de los dedos.
       <a href="https://www.rdstation.com/co/marketing-digital/" target="_blank">
       <ion-img src="/assets/marketing-digital.png"></ion-img></a>
       
     </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-button fill="outline" slot="start" href="https://create.piktochart.com/output/55550500-infografia-maja" target="_blank">Usuarios Digitales</ion-button>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-card-content class="ion-padding-contenido">
        <ion-card-title>Generación silenciosa, 1925 - 1944.</ion-card-title>
        El nombre originalmente se aplicó a las personas nacidas en Norteamérica pero también se usó para quienes nacieron en Europa Occidental, Australia y Sudamérica. Esta generación vivió un época muy difícil: la Gran Depresión en Estados Unidos, que afectó a las economías mundiales, el auge del nazismo y la Segunda Guerra Mundial. Fue la revista TIME,
        la que denominó a esta generación como Silenciosa en 1951.
        <ion-img src="/assets/abuelo.jpg"></ion-img>
      </ion-card-content>      
    </ion-card>
        
    <ion-card>
       <ion-card-content class="ion-padding-contenido">   
        <ion-card-title>Baby boomers, 1945 - 1964.</ion-card-title>
        A esta generación le tocó vivir la llegada del CD, el ordenador portátil, el walkman y el fin de los casetes y videocasetes. También el nacimiento de Internet y la burbuja punto com en la década de los 90, por eso actualmente, parte de esta generación se resiste a utilizar estas tecnologías.
        También se vieron afectados por el bombardeo del consumismo de principios de los 90s.
        <ion-img src="/assets/señora.jpg"></ion-img>
      </ion-card-content>      
    </ion-card>

    <ion-card>
      <ion-card-content class="ion-padding-contenido"> 
        <ion-card-title>Generación X, 1965 - 1979.</ion-card-title>
        El nombre originalmente se aplicó a las personas nacidas en Norteamérica pero también se usó para quienes nacieron en Europa Occidental, Australia y Sudamérica. Esta generación vivió un época muy difícil: la Gran Depresión en Estados Unidos, que afectó a las economías mundiales, el auge del nazismo y la Segunda Guerra Mundial. Fue la revista TIME,
        la que denominó a esta generación como Silenciosa en 1951.
        <ion-img src="/assets/sita.jpg"></ion-img>
      </ion-card-content>      
    </ion-card>

    <ion-card>
      <ion-card-content class="ion-padding-contenido"> 
        <ion-card-title>Millennials, 1980 - 2000.</ion-card-title>
        No hay consenso respecto de las fechas de inicio y fin de esta generación, pero más allá de edades concretas, estamos hablando de los jóvenes actuales, de entre 20-35 años.
        Es la generación ‘selfie’, de la que más se ha hablado en los últimos 5 años, debido a que son la generación más grande en cuanto a número a nivel global.
        Han sufrido de lleno la última crisis económica, lo que ha derivado en un boom de emprendimiento y creación de startups.
        <ion-img src="/assets/caballero.jpg"></ion-img>
      </ion-card-content>      
    </ion-card>

    <ion-card>
      <ion-card-content class="ion-padding-contenido"> 
        <ion-card-title>Generazión Z, 2001 - 2011.</ion-card-title>
        Preadolescentes y adolescentes, la generación que sigue a los Millennials, son los conocidos como nativos digitales, ya que desde muy pequeños han interactuado con los dispositivos móviles e internet.
        Han crecido durante la última crisis económica, por lo que son más realistas, responsables y precavidos en lo referente al consumo.
        <ion-img src="/assets/srta.jpg"></ion-img>
      </ion-card-content>      
    </ion-card>

    <ion-card>
      <ion-card-content class="ion-padding-contenido"> 
        <ion-card-title>Generazión Alpha, 2012 - actualidad.</ion-card-title>
        Los hijos de los Millennials, una generación digital desde su nacimiento. Aunque aún son muy pequeños, 
        tienen gran influencia en las decisiones de compra y estilos de vida de sus padres. 2,5 millones de niños y niñas de esta generación nacen en el mundo cada semana. Aunque tradicionalmente los nombres y las características de las generaciones tenían origen en E.E.U.U., a partir de esta generación, los países asiáticos, serán mucho más influyentes y relevantes.
        <ion-img src="/assets/cchica.jpg"></ion-img>
      </ion-card-content>      
    </ion-card>

    <ion-card >
      <ion-card-content class="ion-class-content"> 
        <ion-card-title> Charla Sugata </ion-card-title>
      <ion-item href="https://www.youtube.com/watch?v=pqoruTqMiUc&t=153s" target="_blank" class="ion-activated">
        <ion-icon name="logo-youtube" slot="start" class="ion-class-youtube"></ion-icon>
        <ion-label>Youtube</ion-label>
      </ion-item>
    </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-card-content class="ion-class-content"> 
      <ion-card-title>Mas informacion!  </ion-card-title>
      <ion-item href="https://www.instagram.com/anda.cl/?hl=es" target="_blank">
        <ion-icon name="logo-instagram" slot="start" class="ion-class-instagram"></ion-icon>
        <ion-label>AndaCL</ion-label>
      </ion-item> 
    </ion-card-content>     

    </ion-card>

    <ion-card>
      <ion-card-content class="ion-class-content">
      <ion-card-header>
        <ion-card-title>Vocabulario moderno.</ion-card-title>
        <ion-card-subtitle>¡Que deberías conocer!</ion-card-subtitle>
        <ion-img src="/assets/vocabulario.jpg"></ion-img>
      </ion-card-header>
    </ion-card-content>
    </ion-card>
  
</ion-content>
